<header class="main_header">
  <div class="nav-bar-container">
    <div class="btn_menu">
      <i class="fa fa-bars" style="font-size:30px"></i>
    </div>
    <a href="#" class="logo">
      <img src="/img/logo.png" alt="Logo_Page" style="max-width: 100px;" />
    </a>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Nhật Phan
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/thuocs/create"> Thêm mới thuốc </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/me/stored/thuocs"> Quản lý thuốc </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/"> Go Back Homepage </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/"> Đăng xuất </a>
      </div>
    </div>

  </div>
  <div class="overlay_menu"></div>
  <div class="reponsive_menu">
    <nav class="reponsive_menu_top_nav">
      <ul class="reponsive_menu_top_nav_list" id="reponsive_menu_nav_active">
        <a class="dropdown-item" href="thuocs/create"> Thêm mới thuốc </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/me/stored/thuocs"> Quản lý thuốc </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/"> Go Back Homepage </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/"> Đăng xuất </a>
      </ul>
    </nav>
    <a href="#" class="btn btn_link_consulting_now"> Consulting Now </a>
  </div>
</header>